In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "fc29b0f8-d975-49f6-92c9-a6d9fe3cb782",
"fs.azure.account.oauth2.client.secret": 'v4z8Q~GGoulPwFYzrifnPkgWCubuYg1lBOz_8aQX',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/ce33342a-5874-4207-a94d-2c23808f705d/oauth2/token"}

dbutils.fs.mount(
source = "abfss://tokyo-olympic-project-data@tokyoolymprojectdatalake.dfs.core.windows.net", # contrainer@storageacc
mount_point = "/mnt/tokyoolymic",
extra_configs = configs)

True

In [0]:
%fs
ls "/mnt/tokyoolymic"

path,name,size,modificationTime
dbfs:/mnt/tokyoolymic/raw-data/,raw-data/,0,1704710638000
dbfs:/mnt/tokyoolymic/transformed-data/,transformed-data/,0,1704710645000

In [0]:
spark

In [0]:
# READING all files from ADLS using apache spark
athletes_file_read=spark.read.format("csv").option("header","true").load("/mnt/tokyoolymic/raw-data/athletes.csv")
coaches_file_read=spark.read.format("csv").option("header","true").load("/mnt/tokyoolymic/raw-data/coaches.csv")
entriesGender_file_read=spark.read.format("csv").option("header","true").load("/mnt/tokyoolymic/raw-data/entriesGender.csv")
medals_file_read=spark.read.format("csv").option("header","true").load("/mnt/tokyoolymic/raw-data/medals.csv")
teams_file_read=spark.read.format("csv").option("header","true").load("/mnt/tokyoolymic/raw-data/teams.csv")

In [0]:
teams_file_read.show()

+-------------+--------------+--------------------+------------+
|     TeamName|    Discipline|             Country|       Event|
+-------------+--------------+--------------------+------------+
|      Belgium|3x3 Basketball|             Belgium|         Men|
|        China|3x3 Basketball|People's Republic...|         Men|
|        China|3x3 Basketball|People's Republic...|       Women|
|       France|3x3 Basketball|              France|       Women|
|        Italy|3x3 Basketball|               Italy|       Women|
|        Japan|3x3 Basketball|               Japan|         Men|
|        Japan|3x3 Basketball|               Japan|       Women|
|       Latvia|3x3 Basketball|              Latvia|         Men|
|     Mongolia|3x3 Basketball|            Mongolia|       Women|
|  Netherlands|3x3 Basketball|         Netherlands|         Men|
|       Poland|3x3 Basketball|              Poland|         Men|
|          ROC|3x3 Basketball|                 ROC|         Men|
|          ROC|3x3 Basketball|                 ROC|       Women|
|      Romania|3x3 Basketball|             Romania|       Women|
|       Serbia|3x3 Basketball|              Serbia|         Men|
|United States|3x3 Basketball|United States of ...|       Women|
|    Australia|       Archery|           Australia|  Men's Team|
|    Australia|       Archery|           Australia|  Mixed Team|
|   Bangladesh|       Archery|          Bangladesh|  Mixed Team|
|      Belarus|       Archery|             Belarus|Women's Team|
+-------------+--------------+--------------------+------------+
only showing top 20 rows

In [0]:
# get schema of athletes data file

athletes_file_read.printSchema()

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [0]:
entriesGender_file_read.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: string (nullable = true)
 |-- Male: string (nullable = true)
 |-- Total: string (nullable = true)

In [0]:
entriesGender_file_read.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [0]:
# Going to change data type of Number of Males, Females and Total Participants in entriesGender File from String to Integer !
# Also want to add them with new names

from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType

In [0]:
entriesGender_file_read=entriesGender_file_read.withColumn("Number_Females",col("Female").cast(IntegerType()))\
    .withColumn("Number_Males",col("Male").cast(IntegerType()))\
    .withColumn("Number_Participants",col("Total").cast(IntegerType()))

In [0]:
# New columns with modified data types are now added
entriesGender_file_read.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: string (nullable = true)
 |-- Male: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- Number_Females: integer (nullable = true)
 |-- Number_Males: integer (nullable = true)
 |-- Number_Participants: integer (nullable = true)

In [0]:
#  To drop earlier 3 columns with string data type

columns_to_drop=['Female','Male','Total']
entriesGender_file_read=entriesGender_file_read.drop(*columns_to_drop)

In [0]:
# Now we get deired result

entriesGender_file_read.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Number_Females: integer (nullable = true)
 |-- Number_Males: integer (nullable = true)
 |-- Number_Participants: integer (nullable = true)

In [0]:
entriesGender_file_read.show()

+--------------------+--------------+------------+-------------------+
|          Discipline|Number_Females|Number_Males|Number_Participants|
+--------------------+--------------+------------+-------------------+
|      3x3 Basketball|            32|          32|                 64|
|             Archery|            64|          64|                128|
| Artistic Gymnastics|            98|          98|                196|
|   Artistic Swimming|           105|           0|                105|
|           Athletics|           969|        1072|               2041|
|           Badminton|            86|          87|                173|
|   Baseball/Softball|            90|         144|                234|
|          Basketball|           144|         144|                288|
|    Beach Volleyball|            48|          48|                 96|
|              Boxing|           102|         187|                289|
|        Canoe Slalom|            41|          41|                 82|
|        Canoe Sprint|           123|         126|                249|
|Cycling BMX Frees...|            10|           9|                 19|
|  Cycling BMX Racing|            24|          24|                 48|
|Cycling Mountain ...|            38|          38|                 76|
|        Cycling Road|            70|         131|                201|
|       Cycling Track|            90|          99|                189|
|              Diving|            72|          71|                143|
|          Equestrian|            73|         125|                198|
|             Fencing|           107|         108|                215|
+--------------------+--------------+------------+-------------------+
only showing top 20 rows

In [0]:
# To directly read files from ADLS with correct data types

entries_of_gender=spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/entriesGender.csv")

In [0]:
# Now we get correct data types directly for all columns pre-assigned by apache spark !
entries_of_gender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [0]:
athletes = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/athletes.csv")
coaches = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/coaches.csv")
entriesgender = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/entriesGender.csv")
medals = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/medals.csv")
teams = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/teams.csv")

In [0]:
# Find the top countries with the highest number of gold medals
top_gold_medal_countries = medals.orderBy("Gold", ascending=False).select("Team_Country","Gold").show()

+--------------------+----+
|        Team_Country|Gold|
+--------------------+----+
|United States of ...|  39|
|People's Republic...|  38|
|               Japan|  27|
|       Great Britain|  22|
|                 ROC|  20|
|           Australia|  17|
|         Netherlands|  10|
|              France|  10|
|             Germany|  10|
|               Italy|  10|
|                Cuba|   7|
|         New Zealand|   7|
|              Brazil|   7|
|              Canada|   7|
|             Hungary|   6|
|   Republic of Korea|   6|
|               Kenya|   4|
|              Poland|   4|
|      Czech Republic|   4|
|              Norway|   4|
+--------------------+----+
only showing top 20 rows

In [0]:
medals.show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|        Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [0]:
# To get countries with least Total Number of medals

countries_least_medals=medals.orderBy("Total").select("Team_Country","Total","Rank by Total").show()

+--------------------+-----+-------------+
|        Team_Country|Total|Rank by Total|
+--------------------+-----+-------------+
|             Morocco|    1|           77|
|             Grenada|    1|           77|
|             Bahrain|    1|           77|
|            Botswana|    1|           77|
|             Namibia|    1|           77|
|       Cï¿½te d'Ivoire|    1|           77|
|         Puerto Rico|    1|           77|
|        Saudi Arabia|    1|           77|
|              Kuwait|    1|           77|
|        Turkmenistan|    1|           77|
|             Bermuda|    1|           77|
|           Lithuania|    1|           77|
|               Ghana|    1|           77|
|        Burkina Faso|    1|           77|
|Syrian Arab Republic|    1|           77|
|     North Macedonia|    1|           77|
| Republic of Moldova|    1|           77|
|              Jordan|    2|           66|
|            Malaysia|    2|           66|
|             Nigeria|    2|           66|
+--------------------+-----+-------------+
only showing top 20 rows

In [0]:
# Calculate the Percentage of entries by gender for each discipline
from pyspark.sql.functions import round

percentage_of_entries_by_gender = entriesgender.withColumn('Avg_Female %',round((entriesgender['Female'] / entriesgender['Total'])*100,4))\
    .withColumn('Avg_Male %',round((entriesgender['Male'] / entriesgender['Total'])*100,4))
    
percentage_of_entries_by_gender.show()

+--------------------+------+----+-----+------------+----------+
|          Discipline|Female|Male|Total|Avg_Female %|Avg_Male %|
+--------------------+------+----+-----+------------+----------+
|      3x3 Basketball|    32|  32|   64|        50.0|      50.0|
|             Archery|    64|  64|  128|        50.0|      50.0|
| Artistic Gymnastics|    98|  98|  196|        50.0|      50.0|
|   Artistic Swimming|   105|   0|  105|       100.0|       0.0|
|           Athletics|   969|1072| 2041|     47.4767|   52.5233|
|           Badminton|    86|  87|  173|      49.711|    50.289|
|   Baseball/Softball|    90| 144|  234|     38.4615|   61.5385|
|          Basketball|   144| 144|  288|        50.0|      50.0|
|    Beach Volleyball|    48|  48|   96|        50.0|      50.0|
|              Boxing|   102| 187|  289|     35.2941|   64.7059|
|        Canoe Slalom|    41|  41|   82|        50.0|      50.0|
|        Canoe Sprint|   123| 126|  249|     49.3976|   50.6024|
|Cycling BMX Frees...|    10|   9|   19|     52.6316|   47.3684|
|  Cycling BMX Racing|    24|  24|   48|        50.0|      50.0|
|Cycling Mountain ...|    38|  38|   76|        50.0|      50.0|
|        Cycling Road|    70| 131|  201|     34.8259|   65.1741|
|       Cycling Track|    90|  99|  189|      47.619|    52.381|
|              Diving|    72|  71|  143|     50.3497|   49.6503|
|          Equestrian|    73| 125|  198|     36.8687|   63.1313|
|             Fencing|   107| 108|  215|     49.7674|   50.2326|
+--------------------+------+----+-----+------------+----------+
only showing top 20 rows

In [0]:
# Getting list of countries which won more than 10 silver medals  and more than 5 gold medals in Tokyo olmpics

desired_result=medals.filter((medals['Silver']>10) & (medals['Gold']>5))\
    .select("Team_Country","Gold","Silver")

desired_result.show()

+--------------------+----+------+
|        Team_Country|Gold|Silver|
+--------------------+----+------+
|United States of ...|  39|    41|
|People's Republic...|  38|    32|
|               Japan|  27|    14|
|       Great Britain|  22|    21|
|                 ROC|  20|    28|
|         Netherlands|  10|    12|
|              France|  10|    12|
|             Germany|  10|    11|
+--------------------+----+------+

In [0]:
# Loading data in our target Location in ADLS ( transformed-data Container)
# After doing Transformations
# Writing data in a single file (partition)


athletes.repartition(1).write.mode("overwrite").option("header",'true').csv("/mnt/tokyoolymic/transformed-data/athletes")
coaches.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/coaches")
entriesgender.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/entriesGender")
medals.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/medals")
teams.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/teams")

In [0]:
# Also adding some new files in ADLS Container : desired-transformed-results
# Percentage of entries by gender and countries which won more than 10 silver medals  and more than 5 gold medals in Tokyo olmpics

desired_result.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/desired-transformed-results/desiredTeams")
percentage_of_entries_by_gender.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/desired-transformed-results/gender_entries_percentage")